.titulo-principal {
    padding-left: 30px;
}
.banner {
    width: 100%;
}
p {
    text-align: center;
}
#mision{
    font-size: 20px;
}
em strong {
    color: red;
}
.principal {
    background: #cccccc;
    padding: 20px;
}
.diferenciales {
    background: whitesmoke;
    padding: 30px;
}
.titulo-centro {
    text-align: center;
}
.items {
    font-style: italic;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 10%;
}
.imagenDiferenciales {
    width: 50%;
}